<%- include('partials/header') %>
<%- include('partials/nav') %>

<div id="talents">
    <%talents.forEach(talent=>{%>
        <div class="single-talent" >
            <h4 style="text-align: center;"><%=talent.username%></h4>
            <h6 style="text-align: center;"><%=talent.email%></h6>
            <p><%= profile.bio%></p>
            <a  href="/user/<%=talent.id%>">
                <button>HIRE <%=talent.username.split(' ')[0].toUpperCase()%> </button>
            </a>
        </div>
    <%})%>
    
   
</div>
   
<%- include('partials/footer') %>
