<%- include('partials/header') %>
<%- include('partials/nav') %>

<div id="talents">
        <%userProfiles.forEach(userProfile=>{%>
            <div class="single-talent">
                <a style="color: rgb(0, 0, 0);" href="/user/<%=userProfile.id%>"><h3 class="user"><%=userProfile.username%></h3>
                </a>
                <a href="/user/<%=userProfile.id%>"><img  src="<%= userProfile.profilePic%>" alt="">
                </a>
                <h4 class="user"><%= userProfile.service%></h4>
                <h4 class="user"><i class="fa-solid fa-location-dot"></i> <%= userProfile.location%></h4>
                <p class="user-bio"><%= userProfile.bio%></p> 
                <p class="user">Pricing : ksh<%= userProfile.price%></p>
                
                <a  href="/user/<%=userProfile.id%>">
                    <button>HIRE <%=userProfile.username.split(' ')[0].toUpperCase()%> </button>
                </a>
            </div>
        <%})%>
    
    
   
</div>
   
<%- include('partials/footer') %>
