<%- include('partials/header') %>
<%- include('partials/nav') %>


    <main class=" access-point" style="height: 85vh;">
        <main class=" access-point" style="height: 70vh;">
        <form action="/login" method="post">
            <p class="form-text">Log In</p>
            <% if(error) { %>
                <p class="error-message"><%= errorMessage%></p>
                <label for="">Email:</label>
                <input class="form-input" type="email" name="email" id="" value="<%= email %>">
                <label for="">Password:</label> 
                <input class="form-input" type="password" name="password" id="" value="<%= password %>">
            <% } else { %>
                <label for="">Email:</label>
                <input class="form-input" type="email" name="email" id="" required><br>
                <label for="">Password:</label> 
                <input class="form-input" type="password" placeholder="Password" id="password" required> <br>
            <% } %>
            <input type="submit" value="Log-in" class="btn">
            <p>Don't have an account? <a href="/signup">Sign Up</a> </p>
        </form>
    </main>
        
        
    </main>
    <%- include('partials/footer') %>