<%- include('partials/header') %>
<%- include('partials/nav') %>


<div class="bio">
    <h1><%= username %></h1>
    <img style="width:200px; height: 200px; border-radius: 600px; object-fit: cover; margin-top: 10px; ;" src="<%= profile.profilePic%>" alt="">
    <p><%= user.email %></p>
    <p><%= profile.service%></p>
    <div><%= profile.bio%></div>
    <span>Pricing: <%= profile.price%></span>
    <a href="wa.me/<%= profile.contact%>"><img src="images/wh.jpg" alt="em">whatsapp</a>
    <a href = "mailto: <%= user.email%>">Send Email</a>
  
    
    
</div>
<div>
    <div>
        <button style="display:flex; background: none; border: none;font-size: 20px;" ><a style="color: red;" href="/add-images">+ ADD IMAGES</a></button>
    </div>
    <div>
        <button style="display:flex; background: none; border: none; font-size: 20px;"><a style="color: rgb(51, 39, 185);" href="/edit-profile">⚙️ EDIT PROFILE</a></button>
    </div>
    
</div>
<img  style="background-color:aliceblue" src="images/wh.jpg" alt="">
<hr>
<div class="profile">
    <div class="user-gallery">
        <%images.forEach(image=>{%> 
            <img style="width: 100%;" src="<%=image.image%>" alt="">
            <p style="color: white; text-align: center;"><%=image.description%></p>
            
        <%})%>
    </div>
</div>


<%- include('partials/footer') %>